<div class="container">

  <%= form_with( url: sessions_path ) do |f| %>

    <div class="form-group">
      <%= label_tag :name, "User Name to Log In" %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Login", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
