<div class= "programs-list">
  <div class= "program-list_head">
    <div class="menu d-flex justify-content-between">
      <span><i class="fa fa-bars" aria-hidden="true"></i></span>
      <h1>Programs</h1>
      <span><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
    <div class="amount_watched d-flex justify-content-between bg-white">
      <p>Total hours watched</p>
      <p>amount</p>
    </div>
  </div>

  <div class= "program-list_content">
    <div class= "program-list_card">
      <p>program name</p>
    </div>
  </div>

<div>