<div class="new-group bg-eee">
  <div class="new-item-nav">
    <div class="menu d-flex justify-content-between align-items-center p-2">
        <%= link_to user_path(session[:user_id]) do %>
          <span><i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i></span>
        <% end %>
        <p class="title m-0">Update group</p>
        <span><%= link_to 'Add', "", :onclick => "$('#form_id').submit()" %></span>
      </div>
  </div>
  <div class="container vh-100 d-flex flex-column justify-content-center">
    <h1>Edit a group</h1>
    <div><%= render 'form' %></div>
  </div>
</div>