<div class="new-user bg-eee vh-100">
  <div class="new-item-nav">
    <div class="menu d-flex justify-content-between align-items-center p-2">
        <%= link_to :back do %>
          <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
        <% end %>
        <h4 class="title m-0">Update account</h4>
        <span><%= link_to 'Cancel', root_path %></span>
      </div>
  </div>

  <div class="container form-new d-flex flex-column justify-content-center">
    <div><%= render 'form' %></div>
  </div>
</div>