<div class="home d-flex flex-column justify-content-center vh-100">
  <h1 class="mb-5 text-center">Wotchd</h1>
  <div class="container mt-5">
    <%= link_to 'Log In', new_session_path, class:"btn btn-primary btn-lg btn-block text-white" %>
    <%= link_to 'Sign Up', new_user_path, class:"btn btn-secondary btn-lg btn-block text-white" %>
  </div>
</div>