<div class="home">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <%= image_tag 'wotchd-logo.png', alt: 'logo', width: 450, height: 200, class: "img-fluid logo" %>
  </div>
  <div class="buttons fixed-bottom mb-2 container">
    <%= link_to 'Log In', new_session_path, class: "log d-block border rad p-2 m-1 text-center text-white bg-blue" %>
    <%= link_to 'Sign Up', new_user_path, class: "sign d-block p-2 m-1 text-center text-color" %>
  </div>
</div>