.new-user-nav {
  background-color: #3778c2;
  color: #eee;
}

.profile {
  color: #eee;
  background-color: #3778c2;
  min-height: 100vh;
}

.resume a {
  border: none !important;
}

.profile-content h1 a {
  margin-left: 1rem;
  padding: 1rem 0;
}

.profile-content a:hover {
  color: #434b54;
  text-decoration: none;
}

.profile-content h1 {
  font-size: 16px;
  padding: 0.5rem 1.5rem 0.5rem 0;
  margin: 0;
}

.profile-content hr {
  border-color: #4986cc;
  margin-left: 22.5%;
  margin-bottom: 0;
  margin-top: 0;
}

.profile-content i {
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 0.6rem;
}

.resume {
  border: 1px solid #4986cc;
  border-right: none;
  padding: 5px;
  z-index: 1000;
}

.resume h6 {
  background-color: #4986cc;
  border-color: #4986cc;
}

.resume h6:hover {
  background-color: #235a99;
  border-color: #235a99;
}

.resume a:hover {
  color: #e8e8ec;
}
